#login-container{
    
    background: linear-gradient(to bottom,  #ff99cc 0%, #33ccff 100%);
}
.formContainer{
    background-color: white;
    width: 400px;
    margin:30px auto 0px auto;
    padding:5px 50px;
    border-radius:2px 20px;
}